[Desktop Entry]
Comment=Remap Caps Lock to Control Left
Exec=setxkbmap -option ctrl:swapcaps
Hidden=false
Name=setxbkmap
NoDisplay=false
Type=Application
X-GNOME-Autostart-enabled=true
