[Desktop Entry]
Name=xset
Exec=xset r rate 200 40
Comment=Increase typing speed
Type=Application
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
